<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>物流详情</title>
  <!-- weui 样式 如果项目有引用 不需要再引入 -->
  <link rel="stylesheet" href="../style/weui.css">
  <!-- 物流详情 -->
  <link rel="stylesheet" href="../style/order_detail_demo.css">
  <!-- remTopx -->
  <script src="../js/rem.js"></script>
</head>

<body>
  物流详情
</body>
<script>

</script>
</html>
