<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>物流详情</title>
  <!-- weui 样式 如果项目有引用 不需要再引入 -->
  <link rel="stylesheet" href="../style/weui.css">
  <!-- 物流详情 -->
  <link rel="stylesheet" href="../style/express_detail.css">
  <!-- remTopx -->
  <script src="../js/rem.js"></script>
</head>

<body>
  <div class="container" id="container">
    <div class="express_detail_page">
      <!-- 物流详情图片 -->
      <div class="express_detail_h">
        <img class="h_img" src="../images/express_detail_h.png" alt="">
      </div>
      <!-- 物流信息 -->
      <div class="express_detail_info">
        <div class="flex express_line bline">
          <div class="flex_1 left">
            <div class="sender">
              <i class="icon_sender"></i>
              <span>出发地</span>
            </div>
            <div class="sender_address">
              澳大利亚（悉尼）
            </div>
          </div>
          <div class="middle">
            <span class="plane"></span>
          </div>
          <div class="flex_1 right">
            <div class="receiving">
              <i class="iconreceiving"></i>
              <span>目的地</span>
            </div>
            <div class="receiving_address">
              （中国）深圳
            </div>
          </div>
        </div>
        <div class="flex express_order">
          <div class="left">订单号</div>
          <div class="flex_1 middle express_num">170170170170170</div>
          <div class="right yellow">运输中</div>
        </div>
        <div class="flex express_order">
          <div class="left">国内派送</div>
          <div class="flex_1 middle">韵达快递</div>
          <div class="right"></div>
        </div>
        <div class="flex express_order">
          <div class="left">派送单号</div>
          <div class="flex_1 middle">11221122</div>
          <div class="right"></div>
        </div>
      </div>
      <!-- 时间提示 -->
      <div class="express_tips">
        <span class="text">物流时间为北京时间</span>
      </div>
      <!-- 物流轨迹 -->
      <div class="express_route_dot">
        <div class="express_detail_title bline">
          物流详情
        </div>
        <div class="timeline">
          <ul>
            <li class="timeline-item">
              <div class="timeline-item-head-first">
                <i class="weui_icon weui_icon_success_no_circle timeline-item-checked"></i>
              </div>
              <div class="timeline-item-tail"></div>
              <div class="timeline-item-content">
                <h4 class="recent">广州市 已发出</h4>
                <p class="recent">2016-04-17 12:00:00</p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-item-head">
                <i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide"></i>
              </div>
              <div class="timeline-item-tail"></div>
              <div class="timeline-item-content">
                <h4> 申通快递员 广东广州 收件员 xxx 已揽件</h4>
                <p>2016-04-16 10:23:00</p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-item-head">
                <i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide"></i>
              </div>
              <div class="timeline-item-tail"></div>
              <div class="timeline-item-content">
                <h4> 这是一个时间线组件,非常适合用于一直改变得数据展示,总的来说,这是一套非常美好的组建扩展这是一个时间线组件,非常适合用于一直改变得数据展示,总的来说,这是一套非常美好的组建扩展</h4>
                <p>2016-04-16 10:23:00</p>
              </div>
            </li>
            <li class="timeline-item">
              <div class="timeline-item-head">
                <i class="weui_icon weui_icon_success_no_circle timeline-item-checked hide"></i>
              </div>
              <div class="timeline-item-tail hide"></div>
              <div class="timeline-item-content">
                <h4> 商家正在通知快递公司揽件</h4>
                <p>2016-04-15 9:00:00</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</body>
<script>

</script>

</html>
