<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>物流详情</title>
  <!-- weui 样式 如果项目有引用 不需要再引入 -->
  <link rel="stylesheet" href="../style/weui.css">
  <!-- 物流详情 -->
  <link rel="stylesheet" href="../style/express_detail.css">
  <!-- remTopx -->
  <script src="../js/rem.js"></script>
</head>

<body>
  <div class="container" id="container">
    <div class="express_detail_page">
      <!-- 物流详情图片 -->
      <div class="express_detail_h">
        <img class="h_img" src="../images/express_detail_h.png" alt="">
      </div>
      <!-- 物流信息 -->
      <div class="express_detail_info">
        <div class="flex express_line bline">
          <div class="flex_1 left">
            <div class="sender">
              <i class="icon_sender"></i><span>出发地</span>
            </div>
            <div class="sender_address">
              澳大利亚（悉尼）
            </div>
          </div>
          <div class="middle">
            <span class="plane"></span>
          </div>
          <div class="flex_1 right">
            <div class="receiving">
             <i class="iconreceiving"></i><span>目的地</span>
            </div>
            <div class="receiving_address">
              （中国）深圳
            </div>
          </div>
        </div>
        <div class="flex express_order">
          <div class="left"></div>
          <div class="flex_1 middle"></div>
          <div class="right"></div>
        </div>
      </div>

    </div>
  </div>
</body>
<script>

</script>
</html>
