<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>我要寄件</title>
  <!-- weui 样式 如果项目有引用 不需要再引入 -->
  <link rel="stylesheet" href="../style/weui.css">
  <!-- 我要寄件的样式 -->
  <link rel="stylesheet" href="../style/sender.css">
  <!-- remTopx -->
  <script src="../js/rem.js"></script>
</head>

<body>

  <div class="container" id="container">
    <div class="send_page">
      <!-- 寄件路线 -->
      <div class="send_hd">
        <div class="flex send_line bline">
          <div class="flex_1 left">
            <div class="sender">
              <i class="icon icon-68 icon_sender"></i>
              <span>出发地</span>
            </div>
            <div class="sender_address">
              (悉尼)澳大利亚
            </div>
          </div>
          <div class="middle">
            <span class="plane active"></span>
          </div>
          <div class="flex_1 right">
            <div class="receiving">
              <span>目的地</span>
              <i class="icon icon-68 icon_receiving"></i>
            </div>
            <div class="receiving_address">
              (中国)深圳
            </div>
          </div>
        </div>
        <div class="flex send_product_server">
          <div class="left">产品服务</div>
          <div class="flex_1 middle"></div>
          <div class="right">
            <span>香港自提</span>
            <i class="icon icon-108"></i>
          </div>
        </div>
      </div>
      <!-- 寄件路线 -->

      <!-- 寄件地址 -->
      <div class="order_address_wrapper">
        <!-- 寄件信息 -->
        <div class="flex order_address_info">
          <div class="left sender"></div>
          <div class="flex_1 right">
            <div class="address_up text_ellipsis">
              <span class="name">比尔盖茨</span>
              <span class="tel">18615912356</span>
            </div>
            <div class="address_down">
              <p class="address"></p>
            </div>
          </div>
        </div>
        <!-- 收件信息 -->
        <div class="flex order_address_info tline">
          <div class="left receiving"></div>
          <div class="flex_1 right">
            <div class="address_up text_ellipsis">
              <span class="name">比尔盖茨</span>
              <span class="tel">18615912356</span>
            </div>
            <div class="address_down">
              <p>209 EValley Blvd San Gabriel CA 91776,Los Angeles,California 90015</p>
              <!-- 此处还有未上传身份证和填写身份证号码的状态 -->
              <p class="address">
                <span>412826198906286044</span>
                <span class="un_upload">(身份证未上传)</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 寄件地址 -->

    </div>
  </div>

</body>

</html>
