<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <title>我要寄件</title>
  <!-- weui 样式 如果项目有引用 不需要再引入 -->
  <link rel="stylesheet" href="../style/weui.css">
  <!-- 我要寄件的样式 -->
  <link rel="stylesheet" href="../style/sender.css">
  <!-- remTopx -->
  <script src="../js/rem.js"></script>
</head>

<body>

  <div class="container" id="container">
    <div class="send_page">

    </div>
  </div>

</body>

</html>
