/* reset */
@import "./base/fn";
// 飞机动画
@import './base/animate/animate';

.express_detail_page{
  position: relative;
  background-color: #fff;
}
// 物流详情图片区
.express_detail_h{
  height: 200/@rem;
  text-align: center;
  .h_img{
    max-width: 100%;
    border: none;
  }
}
// 物流单信息
.express_detail_info{
  padding: 0 30/@rem 10/@rem;
  background: #fff;
  .express_line{
    position: relative;
    padding: 16/@rem 0;
    .bline(1,#f1f1f1);
    margin-bottom: 10/@rem;
    .icon_sender, .icon_receiving{
      display: inline-block;
      width: 18/@rem;
      height: 24/@rem;
      vertical-align: middle;
    }
    .icon_sender{
      background: url('@{path}icon_star.png') no-repeat;
      background-size: 18/@rem 24/@rem;
    }
    .icon_receiving{
      background: url('@{path}icon_end.png') no-repeat;
      background-size: 18/@rem 24/@rem;
    }
    .sender, .receiving{
      font-size: 22/@rem;
      color: #808080;
    }
    .sender_address, .receiving_address{
      font-size: 24/@rem;
      color: #343434;
    }
    .middle{
      width:130/@rem;
      height: 42/@rem;
      line-height: 42/@rem;
      position: relative;
      margin:0 10/@rem;
      overflow: hidden;
      .plane{
        display: inline-block;
        width: 50/@rem;
        height: 42/@rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top:-21/@rem;
        margin-left: -25/@rem;
        background:#fff url('@{path}plane.png') center center no-repeat;
        background-size:34/@rem 34/@rem;
        z-index: 1;
        &.active{
          animation: planeAnimate 3s linear infinite;
        }
      }
      &:after{
        content:'';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 2/@rem;
        margin-top:2/@rem;
        border-top: 2/@rem #e5e5e5 dashed;
        z-index: 0;
      }
    }
    .right{
      text-align: right;
    }
  }
  .express_order{
    font-size: 24/@rem;
    .left{
      min-width: 4em;
      color: #808080;
      text-align:justify;
      text-align-last: justify;
      margin-right: 40/@rem;
    }
    .middle{
      color: #343434;
      &.express_num{
        color: #1c8bfd;
      }
    }
    .right{
      min-width: 3em;
      color: #fa1b1b;
      &.yellow{
        color: #f3821e;
      }
      &.blue{
        color: #0c92f9;
      }
    }
  }
}
.express_tips{
  background: #f1f1f1;
  height: 56/@rem;
  line-height: 56/@rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 1/@rem;
    background: #dddddd;
    margin-top: 28/@rem;
    margin-left: -45%;
    z-index: 1;
  }
  .text{
    display: inline-block;
    position: relative;
    z-index: 2;
    background: #f1f1f1;
    padding: 0 30/@rem;
    font-size: 20/@rem;
    color: #a0a0a0;
  }
}
.express_route_dot{
  padding: 0 30/@rem 30/@rem;
  .express_detail_title{
    position: relative;
    height: 56/@rem;
    line-height: 56/@rem;
    font-size: 24/@rem;
    color:#585858;
    margin-bottom: 20/@rem;
    .bline(1,#f1f1f1);
  }
}
